@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .container {
        max-width: 730px;
    }

    .header {
        &__official {
            display: none;
        }
    }

    .advantages {
        &__wrapper {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            margin-top: 15px;

            &:first-child {
                margin-top: 0;
            }

            &__subtitle {
                margin-top: 20px;
            }
        }
    }

    .title {
        &_left {
            text-align: center;

            br {
                display: none;
            }
        }
    }

    .consultation {
        padding: 80px 0;

        &__descr {
            margin-top: 40px;
            text-align: center;
        }

        .feed-form {
            align-items: center;
        }
    }

    .carousel {
        &__inner {
            width: 100%;
        }


        .slick-dots {
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 0;
            margin-top: 10px;

            li {
                list-style: none;
                margin-right: 10px;

                &:nth-child(3) {
                    margin: 0;
                }

                button {
                    width: 15px;
                    height: 15px;
                    border: none;
                    border-radius: 100%;
                    font-size: 0;
                    background: #D3D3D3;
                }
            }

            li.slick-active {
                button {
                    background: #A9A9A9;
                }
            }
        }
    }

    .catalog {
        padding-bottom: 80px;
        &__tabs {
            margin-top: 50px;
        }
        &__content {
            justify-content: space-around;
        }
    }

    .reviews {
        &__wrapper {
            margin-top: 60px;
        }
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            margin: 0;
        }
        &__descr {
            margin-top: 25px;
        }
        &__name {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__message {
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100vw;
    }

    .header {
        justify-content: space-around;
    }
    .promo {
        min-height: 450px;
        padding: 20px 0 75px 0;

        &__wrapper {
            align-items: center;
        }

        &__header {
            text-align: center;
        }
        
    }

    .carousel {
        padding: 60px 0 30px 0;
    }

    .catalog {
        padding-bottom: 80px;
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin: 5px 0;
        }
    }

    .reviews {
        &__descr {
            max-width: 500px;
        }
    }

    .footer {
        min-height: 270px;
        iframe {
            display: none;
        }
        &__info {
            width: 100vw;
        }
    }
}


@media (max-width: 576px) {

    .header {
        justify-content: center;

        &__contacts {
            display: none;
        }
    }

    .promo {
        padding: 20px 0 60px 0;

        &__header {
            font-size: 38px;
        }

        &__subheader {
            display: none;
        }

        &__icons {
            display: none;
        }
    }

    .advantages {
        padding: 60px 0;
    }

    .title {
        font-size: 22px;
    }

    .consultation {
        padding: 60px 0;
        min-height: 500px;

        &__descr {
            display: none;
        }
    }

    .carousel {
        padding: 60px 0 10px 0;

        .slick-dots {
            li {
                button {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }

    .catalog {
        padding-bottom: 40px;
        &__tabs {
            margin-top: 25px;
        }
        &__content {
            justify-content: space-around;
        }
    }

    .reviews {
        hr {
            margin: 25px 0px;
        }
        &__wrapper {
            margin-top: 40px;
        }
        &__descr {
            margin-top: 25px;
            max-width: 300px;
        }
    }

    .footer {
        min-height: 200px;
        
        &__info {
            height: 200px;
            padding: 20px;
        }
        &__addr {
            font-size: 17px;
            margin-bottom: 30px;
        }
        &__phone {
            margin-bottom: 25px;
        }
        &__social-item {
            margin: 0 10px;
        }
    }
}