.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main_color;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    transition: .5s all;
    &:focus {
        outline: none;
    }
    &:hover {
        color: $main-color;
        background-color: #fff;
        box-shadow: 1px 1px 5px $main_color;
        // border: solid 1px $main-color;
    }
    &_main {
        margin-top: 68px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        width: 300px;
        height: 55px;
        font-size: 16px;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
    &_modal {
        width: 100%;
    }
}