.carousel {
    padding: 81px 0 82px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
        div {
            &:focus {
                outline: none;
            }
        }
    }
    &__img {
        width: 100%;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background: none;
        img {
            width: 31px;
            height: 50px;
        }
        &:focus {
            outline: none;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }

    .slick-dots {
        li {
            button {
                padding: 0;
            }
        }
    }
}