.catalog-item {
    width: 300px;
    min-height: 440px;
    border: solid 2px #e8e8e8;
    padding: 20px 20px 25px 20px;
    overflow: hidden;
    margin-bottom: 20px;
    &__img {
        display: block;
        max-width: 100%;
        height: 200px;
        margin: 0 auto;
    }
    &__subtitle {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
    }
    &__descr {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #0d0d0d;
    }
    &__link {
        margin-top: 17px;
        text-align: center;
        a {
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            color: $main_color;
            text-transform: uppercase;
            &:hover {
                color: $main_color;
            }
        }

    }
    hr {
        margin: 20px 0;
        border-bottom: none;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__old-price {
        font-size: 14px;
        font-weight: 300;
        color: #555555;
        text-decoration: line-through;
    }
    &__price {
        font-size: 20px;
        font-weight: 700;
        color: #050505;
    }

    &__wrapper {
        position: relative;
        display: flex;
        width: calc(200% + 40px);
    }

    &__content {
        width: 50%;
        margin-right: 0;
        transform: translateX(-100%);
        transition: 0.5s all;
        &_active {
            transform: translateX(0%);
            margin-right: 20px;
        }
    }


    &__list {
        position: relative;
        padding: 0;
        margin: 0;
        width: 50%;
        margin-left: 20px;
        transform: translateX(0%);
        padding-right: 20px;
        transition: 0.5s all;
        list-style-type: none;
        &_active {
            transform: translateX(-100%);
            padding-left: 19px;
            margin-left: 0px;
        }
        ul{
            padding: 0;
            margin: 0;
            li {
                position: relative;
                font-size: 14px;
                font-weight: 300;
                color: #555555;
                margin-bottom: 20px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main_color;
                    left: -14px;
                    top: 7px;
                }
            }
        }
        
        
    }
    &__back {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(calc(-50% - 19px));
        a {
            color: $main_color;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                color: $main_color;
            }
        }
    }
}