.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    
    input {
        height: 50px;
        width: 300px;
        border: none;
        border-radius: 5px;
        background-color: #ffffff;
        margin-bottom: 15px;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 300;
        color: #4b4b4b;
        &:last-of-type {
            margin-bottom: 0;
        }
        &:focus {
            outline: none;
        }
        // arrow none
    //     &[type="number"] {
    //         &::-webkit-outer-spin-button,
    //         &::-webkit-inner-spin-button {
    //             -webkit-appearance: none;
    //         }
    //     }
    //     &[type='number'] {
    //         appearance: none;
    //         -moz-appearance: textfield;
    //     }
    //     &[type="number"] {
    //         &:hover,
    //         &:focus {
    //             appearance: none;
    //             -moz-appearance: textfield;
    //         }
    //     }
    }

    &_mt25 {
        margin-top: 25px;
        input {
            width: 100%;
        }
    }

    .error {
        border: 1px solid red;
        
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
        &:last-of-type {
            margin-top: 10px;
        }
    }

}